.anime-detail {
  display: flex;
  gap: 40px;
  padding: 30px;
  color: white;
}

.detail-left img {
  width: 280px;
  border-radius: 12px;
}

.detail-right h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  margin-bottom: 10px;
}

.genres span {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 12px;
  background: #222;
  border-radius: 20px;
  font-size: 14px;
}

.synopsis {
  margin-top: 20px;
  line-height: 1.6;
  opacity: 0.9;
}

.watchlist-btn {
  margin-top: 20px;
  padding: 12px 20px;
  background: crimson;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}
