.hero {
  width: 100%;
  height: 360px;
  border-radius: 18px;
  background-size: cover;
  background-position: center;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(10, 10, 20, 0.95),
    rgba(10, 10, 20, 0.35)
  );
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-overlay h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-btn {
  width: fit-content;
  background: #6c5ce7;
  border: none;
  padding: 10px 22px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.hero-btn:hover {
  box-shadow: 0 0 20px #6c5ce7;
}
