.item-card {
  width: 230px;
  background: #0d0d0d;
  padding: 18px;
  border-radius: 14px;
  color: #fff;
  box-shadow: 0 0 18px rgba(255, 0, 106, 0.25);
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 0, 106, 0.35);
  display: flex;
  flex-direction: column;
  gap: 10px;
  backdrop-filter: blur(6px);
}

.item-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 0 30px rgba(255, 0, 140, 0.7);
  border: 1px solid rgba(255, 0, 140, 0.7);
}

.item-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.15);
}

/* Title */
.title {
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: #ff0ea5;
}

/* Category */
.category {
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
  color: #f5cfff;
}

/* Description */
.desc {
  font-size: 13px;
  opacity: 0.85;
  text-align: center;
}

/* Delete Button */
.delete-btn {
  margin-top: 10px;
  padding: 8px;
  background: #ff006a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.3s ease;
}

.delete-btn:hover {
  background: #ff0ea5;
}
