.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs span {
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
  color: #aaa;
}

.tabs .active {
  color: white;
  border-bottom: 2px solid #ff2e63;
  padding-bottom: 5px;
}
