.rowTitle {
  margin: 20px 0 10px;
}

.rowScroll {
  display: flex;
  gap: 18px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.rowScroll::-webkit-scrollbar {
  height: 6px;
}

.rowScroll::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
