.sidebar {
  width: 220px;
  background: #0b0f1a;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  color: #bbb;
}

.logo {
  color: #ff2e63;
  margin-bottom: 30px;
}

.menu p {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.menu p:hover,
.menu .active {
  background: #1a1f36;
  color: white;
}

h4 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: #777;
  font-size: 14px;
}
